<% include partials/header %>

    <h1><%= campground.name %></h1>

    <p><%= campground.description %> </p>

    <div>
        <img src="<%= campground.image %>">
    </div>

    <a href="/campgrounds">Go back</a>

<% include partials/footer %>